:root {
  --white: #fff;
  --black: #000;
  --orange: #f90;
  --yellow-orange: #e1670e;
  --shiny-orange: #ffb84d;
  --silver: #cacaca;
  --grey: #666;
  --grey-brown: #414141;
  --offsets: 2;
  --gap: 32px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  min-width: 320px;
  font-family: "Montserrat", Arial, Verdana, sans-serif;
  font-weight: 400;
}

.link-reset {
  color: inherit;
  text-decoration: none;
}

.img {
  max-width: 100%;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url(../fonts/Montserrat-Regular.woff2) format(woff2),
    url(../fonts/Montserrat-Regular.woff) format(woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
    url(../fonts/Montserrat-SemiBold.woff2) format(woff2),
    url(../fonts/Montserrat-SemiBold.woff) format(woff);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url(../fonts/Montserrat-Bold.woff2) format(woff2),
    url(../fonts/Montserrat-Bold.woff) format(woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
    url(../fonts/Montserrat-ExtraBold.woff2) format(woff2),
    url(../fonts/Montserrat-ExtraBold.woff) format(woff);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:focus-visible {
  outline: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/*global classes*/

.container {
  max-width: 1870px;
  margin: 0 auto;
  padding: 0 50px;
  width: 100%;
}

.flex {
  display: flex;
}

.logo {
  min-width: 225px;
  min-height: 72px;
  align-items: center;
  transition: box-shadow 0.5s ease-in-out;
}

.logo:focus-visible/*::after*/ {
  box-shadow: 0 0 0.5em var(--orange);
}

.logo:hover:not(:focus-visible) {
  box-shadow: 0 0 0.5em var(--orange);
}

.logo:active:not(:focus-visible) {
  box-shadow: 0 0 0.5em var(--orange);
}

.logo__img-top1200,
.logo__img-top992 {
  display: none;
}

.nav {
}

.nav__list {
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 85px;
}

.nav__item {
}

.nav__link {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  transition: color 0.5s ease-in-out;
}

/*focus for nav*/
.nav__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 2px solid var(--orange);
  outline-offset: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:focus-visible {
  outline: 0;
}

.nav__link:focus-visible::before {
  opacity: 1;
}

.nav__link:active:not(:focus-visible) {
  color: var(--yellow-orange);
}

/*проявляющееся подчеркивание*/

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--orange);
  transform: scaleX(0);
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.nav__link:hover:not(:focus-visible)::after {
  transform: scaleX(1);
}

.nav__link:active:not(:focus-visible)::after {
  background: var(--yellow-orange);
}

/**/

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_action {
  border-radius: 16px;
  background-color: var(--orange);
  transition: background-color 0.3s ease-in-out;
}

.btn_action:focus-visible {
  background-color: var(--shiny-orange);
}

.btn_action:hover:not(:focus-visible) {
  background-color: var(--shiny-orange);
}

.btn_action:active:not(:focus-visible) {
  background-color: var(--yellow-orange);
}

.form {
  flex-direction: column;
}

/*.form:not(:last-child) {
  gap: 25px;
}*/

/*header*/
.header {
  padding: 14px 0 14px;
  border-radius: 0 0 32px 32px;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.1);
}

.header__container {
  align-items: center;
}

.header__logo {
  margin-right: auto;
  /*padding: 12px 0 14px;*/
}

.header__path {
  fill: var(--black);
}

.header__nav {
  padding: 10px 0;
  /*padding: 0;
  padding-bottom: 20px;*/
  margin-right: 85px;
  /*margin-bottom: -35px;*/
  overflow-x: scroll;
  overflow-x: hidden;
}

.header__btn {
  position: relative;
  align-items: center;
}

/*обводка при фокусе у search*/

.header__btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 2px solid var(--orange);
  outline-offset: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header__btn:focus-visible {
  outline: 0;
}

.header__btn:focus-visible::after {
  opacity: 1;
}

/**/

/*эффекты для svg-search*/

.header__btn rect {
  fill: var(--black);
  transition: fill 0.3s ease-in-out;
}

.header__btn path {
  stroke: var(--black);
  transition: stroke 0.3s ease-in-out;
}

.header__btn:hover:not(:focus-visible) rect {
  fill: var(--orange);
}

.header__btn:hover:not(:focus-visible) path {
  stroke: var(--orange);
}

.header__btn:active:not(:focus-visible) rect {
  fill: var(--black);
}

.header__btn:active:not(:focus-visible) path {
  stroke: var(--black);
}

/**/

.main {
  padding-top: 40px;
}

/*hero*/
.hero {
  padding: 10px 0 25px;
}

.hero__container {
  border-radius: 32px;
  background-image: url(../img/low-angle-photo-of-balconies.jpg);
  background-color: lightgray;
  background-size: cover /*contain*/;
  background-repeat: no-repeat;
}

.hero__wrapper {
  flex-direction: column;
  padding: 100px 0 100px 80px;
  max-width: 900px;
}

.hero__title {
  margin: 0 0 23px;
  font-size: 70px;
  font-weight: 800;
  line-height: normal;
  color: var(--white);
}

.hero__desc {
  margin: 0 0 88px;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
}

.hero__btn {
  align-self: flex-start;
  padding: 25px 39px;
  font-size: 23px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
}

/*about-us*/

.about-us {
  padding: 26px 0 50px;
}

.section__title {
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
}

.section__title_about-us {
  margin: 0 0 20px;
}

.section__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.about-us__text {
  margin: 0 0 48px;
  max-width: 1235px;
}

.about-us__cards {
}

.cards {
  justify-content: space-between;
}

.cards__card {
}

.cards__card_left {
  flex-basis: calc((100% - 32px) / 2);
  align-items: flex-end;
  min-height: 622px;
  border-radius: 32px;
  background-image: url(../img/worker.jpg);
  background-color: lightgray;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.card1 {
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white);
  z-index: 1;
}

.card1__text {
  margin: 0;
  flex-basis: 60%;
  font-weight: 700;
  line-height: 32px;
}

.link {
  border-radius: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

.card1__link {
  position: relative;
  padding: 19px 37px;
  border: 3px solid var(--orange);
}

.card1__link::after {
  content: "";
  position: absolute;
  border-radius: 13px;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: background-color 0.9s ease-in-out;
}

.card1__link:focus-visible::after {
  background-color: var(--orange);
}

.card1__link:hover:not(:focus-visible)::after {
  background-color: var(--orange);
}

.card1__link:active:not(:focus-visible)::after {
  background-color: var(--yellow-orange);
}

/*.link:hover  {
  background-color: transparent;
	outline: 2px solid orange;
	color: orange;
}
*/

.cards__list {
  flex-direction: column;
  justify-content: space-between;
  flex-basis: calc((100% - 32px) / 2);
  gap: 30px;
}

.cards__item {
  /*justify-content: space-between;*/
  flex-basis: 50%;
  border: 1px solid var(--silver);
  border-radius: 32px;
  padding: 65px 115px 65px 60px;
}

.card2__img {
  flex-basis: 30%;
  margin-right: 42px;
  min-width: 190px;
  min-height: 165px;
}

.card2__img_img1 {
  background-image: url(../img/kube.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.card2__img_img2 {
  background-image: url(../img/cog.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.card2__content {
  flex-basis: 70%;
  /*max-width: 620px;*/
}

.section__caption {
  margin: 0 0 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.card2__text {
  margin: 0;
}

/*steps*/

.steps {
  padding: 50px 0;
}

.section__title_steps {
  margin: 0 0 34px;
}

.steps__wrapper {
  position: relative;
  /*justify-content: space-between;*/
  /*padding-bottom: 85px;*/
}

.steps__wrapper:before {
  content: "";
  position: absolute;
  width: 49.2%;
  bottom: 0;
  right: 0;
  top: 7px;
  border-radius: 32px;
  background-image: url(../img/office.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.steps__content {
  flex-direction: column;
  width: 43%;
}

.section__text_steps {
  margin: 0;
  max-width: 758px;
}

.section__text_steps2 {
  display: none;
  margin: 0;
}

.steps__text {
  margin-bottom: 18px;
}

.steps__links {
  align-self: flex-start;
  /*flex-wrap: wrap;*/
  gap: 32px;
}

.steps__link {
  position: relative;
  padding: 19px 38px;
}

.steps__link_link1 {
  color: var(--white);
}

/*focus, hover, active for steps__link_link1 (background)*/
.steps__link_link1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  background-color: var(--orange);
  z-index: -1;
  transition: background-color 0.9s ease-in-out;
}

.steps__link_link1:focus-visible::after {
  background-color: var(--shiny-orange);
}

.steps__link_link1:hover:not(:focus-visible)::after {
  background-color: var(--shiny-orange);
}

.steps__link_link1:active:not(:focus-visible)::after {
  background-color: var(--yellow-orange);
}
/**/

.steps__link_link2 {
  border: 1px solid var(--black);
  font-weight: 400;
  line-height: normal;
  color: var(--black);
  transition: color 0.5s ease-in-out;
}

/*focus, hover, active for steps__link_link2 (color)*/
.steps__link_link2:focus-visible {
  color: var(--white);
}

.steps__link_link2:hover:not(:focus-visible) {
  color: var(--white);
}

.steps__link_link2:active:not(:focus-visible) {
  color: var(--white);
}
/**/

/*focus, hover, active for steps__link_link2 (background)*/
.steps__link_link2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: background-color 0.9s ease-in-out;
}

.steps__link_link2:focus-visible::after {
  background-color: var(--grey);
}

.steps__link_link2:hover:not(:focus-visible)::after {
  background-color: var(--grey);
}

.steps__link_link2:active:not(:focus-visible)::after {
  background-color: var(--black);
}
/**/

/*

.steps__img {
  width: 49%;
  padding-top: 6px;
}

.steps__img-align {
  width: 100%;
  border-radius: 32px;
  background-image: url(../img/office.jpg);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}

*/

/*quations*/

.quations {
  padding: 50px 0 100px;
}

.section__title_quations {
  margin: 0 0 32px;
}

.quations__list {
  justify-content: flex-start;
  flex-wrap: wrap;

  gap: var(--gap);
}

.quations__item {
  position: relative;
  width: calc((100% - var(--gap) * var(--offsets)) / (var(--offsets) + 1));
}

.quations__link {
  display: block;
  padding: 65px 65px 65px 60px;
  border-radius: 32px;
  border: 1px solid var(--silver);
  transition: background-color 0.9s ease-in-out;
}

/*.quations__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 32px;
  transition: background-color 0.9s ease-in-out;
}
*/

.section__caption_quations {
  transition: color 0.9s ease-in-out;
}

.section__text_quations {
  margin: 0;
  transition: color 0.9s ease-in-out;
}

.quations__link:focus-visible,
.quations__link:hover:not(:focus-visible) {
  background-color: var(--silver);
}

.quations__link:active:not(:focus-visible) {
  background-color: var(--grey-brown);
}

.quations__link:focus-visible .section__caption_quations,
.quations__link:focus-visible .section__text_quations,
.quations__link:hover:not(:focus-visible) .section__caption_quations,
.quations__link:hover:not(:focus-visible) .section__text_quations,
.quations__link:active:not(:focus-visible) .section__caption_quations,
.quations__link:active:not(:focus-visible) .section__text_quations {
  color: var(--white);
}

/*footer*/
.footer {
  background: var(--black);
  padding: 50px 0;
}

.footer__container {
  justify-content: space-between;
}

.footer__links {
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 20.5%;
}

.footer__nav-links {
  flex-direction: column;
  align-items: flex-start;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 15px;
}

.footer__path {
  fill: var(--white);
}

.footer__link {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  color: var(--silver);
  transition: color 0.3s ease-in-out;
}
/*
.footer__link:focus-visible {
  outline: 2px solid var(--orange);
}
*/

/*.footer__link:last-child {
  display: block;
  margin-bottom: auto;
  padding-bottom: 100px;
}*/

/*обводка при фокусе у footer__link*/

.footer__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 2px solid var(--orange);
  outline-offset: 5px;
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}

.footer__link:focus-visible {
  outline: 0;
}

.footer__link:focus-visible::after {
  opacity: 1;
}

.footer__link:hover:not(:focus-visible) {
  color: var(--orange);
}

.footer__link:active:not(:focus-visible) {
  color: var(--yellow-orange);
}

/**/

.footer__social-links {
  /*flex-direction: column;*/
  flex-wrap: wrap;
  gap: 25px;
}

.footer__social-link {
  position: relative;
  width: 60px;
  height: 60px;
}

.footer__social-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 2px solid var(--orange);
  outline-offset: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.footer__social-link:focus-visible {
  outline: 0;
}

.footer__social-link:focus-visible::after {
  opacity: 1;
}

.footer__social-link path {
  fill: var(--grey);
  transition: fill 0.3s ease-in-out;
}

.footer__social-link:focus-visible path {
  fill: var(--grey);
}

.footer__social-link:hover:not(:focus-visible) path {
  fill: var(--orange);
}

.footer__social-link:active:not(:focus-visible) path {
  fill: var(--yellow-orange);
}

.footer__form {
  flex-basis: 32%;
  min-width: 566px;
}

.form__label {
  flex-direction: column;
  gap: 25px;
  margin-bottom: 32px;
}

.form__text {
  margin-bottom: 25px;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  color: var(--silver);
}

.form__input,
.form__textarea {
  padding: 14px 0 14px 24px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  appearance: none;
  border: none;
  border-radius: 16px;
  box-shadow: none;
  color: var(--silver);
  background-color: var(--grey-brown);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.form__textarea {
  min-height: 150px;
  resize: none;
}

.form__input:focus-visible,
.form__textarea:focus-visible {
  background-color: var(--grey);
}

.form__input:hover:not(:focus-visible),
.form__textarea:hover:not(:focus-visible) {
  background-color: var(--grey);
}

.form__input:active:not(:focus-visible),
.form__textarea:active:not(:focus-visible) {
  color: var(--white);
  background-color: var(--grey);
}

.form__btn-check {
  justify-content: space-between;
  align-items: center;
}

.form__btn {
  align-self: flex-start;
  /*gap: 10px;*/
  padding: 19px 52px;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
}

/*.btn_form:focus-visible {
  background-color: var(--shiny-orange);
}

.btn_form:hover:not(:focus-visible) {
  background-color: var(--shiny-orange);
}

.btn_form:active:not(:focus-visible) {
  background-color: var(--yellow-orange);
}
*/

.checkbox {
  display: flex;
  /*align-items: center;*/
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.checkbox-text {
  position: relative;
  padding-left: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  cursor: pointer;
}

.checkbox-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  box-sizing: border-box;
  border: 1px solid #fff;
  width: 14px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.checkbox-input:checked + .checkbox-text::before {
  background-image: url(../img/сheck.svg);
  background-size: contain;
}

.checkbox-input:focus-visible + .checkbox-text::before {
  outline: 2px solid red;
  outline-offset: 3px;
}

.footer__info {
  align-self: center;
  flex-basis: 20.5%;
}

.footer__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--silver);
}
